:root {
    --primary-color: rgb(11, 78, 179);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }





body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
   background-color: rgb(4, 4, 49);
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
  }
  .part{
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .part-1{
    margin-left: -5px;
   
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    background-color: 
    #5968B1;
    border-radius: 0.25rem;
    
  }
  .select-style{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    background-color: 
    #5968B1;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
    color: white;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 7px 0 64px;
    margin-left: 33px;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 1;
  }
  
  .progress {
    background-color:#8D17EA;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 	35px;
    height: 35px;
    background-color: #dcdcdc;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
   
  }
  .progress-step p{
    margin-top: -15px;
   width: 300px;
  }
  
  
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: 
    #8D17EA;
    color: #f3f3f3;
  }
  
  /* Form */
  .form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    
    border-radius: 10px;
    padding: 18px;
    background-color: #0F1A53;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  .upload-step{
    display: none;
   
  }
  .upload-step-active{
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  .upload-title{
    text-align: center;
    color: white;
  }
  
  .upload-title-1{
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .upload-title-3{
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .line{
    width: 60px;
    height: 1px;
    background-color:#8D17EA;
    margin-left: 160px;
    margin-top: -11px;
  }
  .line-show{
    width: 368px;
    height: 1px;
    background-color: #666;
    opacity: 50%;
    margin-top: -25px;
  }
  .file-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
  }
  .file-1{
    width: 100px;
    height: 70px;
    border: dashed;
  }
  .file-2{
    width: 100px;
    height: 70px;
    border: dashed;
  }
  .file-3{
    width: 100px;
    height: 70px;
    border: dashed;
  }
  .fa-solid{
    color: rgb(182, 177, 177);
    margin-top: 22px;
    margin-left: 35px;
  }

  /* radio button */
  a {
    text-decoration: none;
   }
  ul {
    list-style-type: none;
  }

.radio-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.radio-item [type="radio"]{
    display: none;
}

.radio-item + .radio-item{
    margin-top: 2px;
}
.radio-item label{
    display: block;
    padding: 20px 60px;
    background: #1d1d42;
    border:2px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}
.radio-item label:after,
.radio-item label:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after{
    height: 20px;
    width: 20px;
    border:2px solid #524eee;
    left: 20px;
    top: calc(50% - 12px);
}
.radio-item label:before{
    background: #524eee;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label{
    border-color: #524eee;
}

.radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.radio-section{
  margin-top: -180px;
  margin-left: -115px;
}
/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
 
  background-color:#8D17EA;
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}
.btn-size {
  padding: 0.75rem;
    display: block;
    text-decoration: none;
   
    background-color:#8D17EA;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  margin-top: -195px;
}


 
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  