:root {
    --primary-color: rgb(11, 78, 179);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }





body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
   background-color: rgb(4, 4, 49);
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
    color: white;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
   
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 1;
  }
  
  .progress {
    background-color:#8D17EA;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: 
    #8D17EA;
    color: #f3f3f3;
  }
  
  /* Form */
  .form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #0F1A53;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  .upload-title{
    text-align: center;
    color: white;
  }
  .line{
    width: 60px;
    height: 1px;
    background-color:#8D17EA;
    margin-left: 152px;
    margin-top: -10px;
  }
  .line-show{
    width: 368px;
    height: 1px;
    background-color: #666;
    opacity: 50%;
  }
  .file-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
  }
  .file-1{
    width: 100px;
    height: 70px;
    border: dashed;
  }
  .file-2{
    width: 100px;
    height: 70px;
    border: dashed;
  }
  .file-3{
    width: 100px;
    height: 70px;
    border: dashed;
  }
  .fa-solid{
    color: rgb(182, 177, 177);
    margin-top: 22px;
    margin-left: 35px;
  }

 
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
   
    background-color:#8D17EA;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }